@model TestApplication.ViewModel.WizardViewModel

<form id="stepForm" method="post">
    <h1>Step 4</h1>
    
    <h3>Your answers</h3>    
    <h4>Question, what type of bear is best?</h4>
    <p id="bear"></p>
    <span asp-validation-for="@Model.Bear"></span>    
    <input type="hidden" asp-for="@Model.Bear" id="bearHiddenInput" value="" />
    <br />

    <h4>What do bears eat?</h4>
    <p id="food"></p>
    <span asp-validation-for="@Model.Food" class="text-danger"></span>
    <input type="hidden" asp-for="@Model.Food" id="foodHiddenInput" value="" />
    <br />

    <h4>What is the best TV Show?</h4>
    <p id="tvShow"></p>
    <span asp-validation-for="@Model.TvShow" class="text-danger"></span>
    <input type="hidden" asp-for="@Model.TvShow" id="tvShowHiddenInput" value="" />
    
    <br />
    <br />
    <input id="backButton" type="button" value="Back" />
    <input id="nextButton" type="button" value="Next" />
</form>

<script src="~/js/hiddenInputWizard/step4.js"></script>
